body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  width: 400px; /* 幅を広げて内容を収まりやすく */
  background-color: #f7f7f7;
  color: #333;
}

h1 {
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  
}


#analyzeButton {
  width: 50%;
  padding: 12px;
  background:  linear-gradient(to right, #00ffd5 0%, #6df997 100%);
  color: black;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s;
  border-radius: 9999px;
}

.hoge_button {
  text-align: center;
}

#analyzeButton:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#analyzeButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#result, #result2 {
  margin-top: 15px;
  font-size: 14px;
  white-space: normal; /* テキストが長い場合に折り返しを有効にする */
  word-break: break-word; /* 単語の途中で折り返しを有効にする */
  max-height: 400px;
  overflow-y: auto;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 共通の結果ボックスのスタイル */
.result-container {
  margin-top: 20px;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #231815 50%, #21ADE5 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.trust-high {
  color: green; /* 信頼度: 高 = 緑色 */
}

.trust-medium {
  color: orange; /* 信頼度: 中 = オレンジ色 */
}

.trust-low {
  color: red; /* 信頼度: 低 = 赤色 */
}



@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}